#top{
    background-color: aquamarine;
    padding: 20px;
}

.intro{
    color: red;
    font-weight: bold;
}











/*
#top {
    background-color: #ccc;
    padding: 20px
}

.intro {
    color: red;
    font-weight: bold;
}
*/