@media (min-width: 1000px) {
  .page {
    max-width: 1000px;
    margin: 0 auto;
  }

  header {
    grid-template-columns: auto;
  }

  nav {
    grid-column: 3;
    background-color: #a2d4f2;
  }
  #placeholder {
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
  }

  .placeholderweather {
    grid-row: 2;
    grid-column: 1;
  }
  .placeholderhero {
    grid-row: 1/3;
    grid-column: 2;
    margin-top: 12px;
  }
  .placeholderhero p {
    font-size: 40px;
  }
  .placeholderjoin {
    grid-row: 3;
    grid-column: 1;
    display: block;
  }
   .buttonjoinus {
    appearance: none;
    padding: 10px;
    border: none;
    background-color: #B6ECF2;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    width: 50%;
    top: 20px;
    left: 50px;
    text-align: center;
  }

  .placeholdernews {
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }

  .placeholdernews h2 {
    grid-column: 1/3;
    grid-row: 1;
   
  }

  .placeholdernews img {
    display: block;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .placeholdernews p {
    text-align: justify;
    margin-left: -50px;
    margin-right: 50px;
  }
  .placeholderevent {
    grid-row: 1;
    grid-column: 1;
    padding: 10px;
  }

  footer img {
    margin-left: 150px;
    width: 120px;
  }
  .basicinfo {
    margin-right: 100px;
    margin-top: 40px;
  }

  footer div {
    grid-row: 2;
    grid-column: 1 / 3;
    justify-self: center;
  }

  .personalinfo {
    justify-self: center;
  }

  .box-wrapper {
    display: flex;
    flex-direction: column;
    grid-row: 1/4;
  }
  .box1 {
    flex: 1;
  
  }

  .box2 {
    flex: 2;
  }
  .box3 {
    flex: 3;
  }

  nav button {
    display: none;
  }

  nav ul#primarynav {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  header picture {
    grid-row: 1;
    grid-column: 4;
  }

  .mediumsps {
    display: none;
  }
  .largesps {
    display: block;
  }

  /* discover page css*/

  section.discover {
  }
  h1.discoverh1 {
    text-align: center;
    margin: 60px;
    position: absolute;
  }

  div.spsbanner {
    background-color: aquamarine;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  section.demos {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  div.demo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }

  h2.subtitle {
    grid-column: 1;
    padding: 20px;
  }

  p.demoinfo {
    grid-column: 1;
    padding-left: 20px;
  }
  img.demoimg {
    grid-column: 2;
    grid-row: 1/3;
  }

  section.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section.membershipslevels {
    margin-top: 80px;
    margin-right: 50px;
    text-align: justify;
    font-size: 16px;
  }
}
