* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .page {
    max-width: 400px;
    margin: 0 auto;
  }

  img[data-src] {
    filter: blur(0.2em);
  }
  
   img {
    filter: blur(0em);
    transition: filter 0.5s;
  }