
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .page {
        max-width: 400px;
        margin: 0 auto;
      }
      

table, th, td,tfoot,thead {
    border:0.2px solid #D9D9D9;
    font-family: "Ubuntu, sans-serif";
  
  }
  td{
      padding: 5px;
      text-align: center;
  }

  tr:nth-child(even) {
    background-color: #D9D9D9;
  }

  tr:nth-child(odd) {
    background-color: #F2D4C2;
  }
  tr.row1{
      background-color: #A68A7B;
  }

  td.cell3{
    background-color: #A68A7B;
  }

  th.title,.title2{
      background-color: #8C8C8C;
  }
.title2{
    font-size: 10px;
}
